# Algorand node configuration
ALGOD_HOST=localhost
ALGOD_PORT=4001
ALGOD_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

# Escreg application ID (required)
APP_ID=12345

# Account configuration (optional)
MNEMONIC=your mnemonic here
ADDRESS=your account address here
